RewriteEngine On

<FilesMatch "^\.env">
	Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^api/?(.*)$ api/index.php [QSA,L]
RewriteRule ^admin/?$ admin/index.php [L]
RewriteRule ^$ index.php [L]
RewriteRule ^([A-Za-z0-9-]+)\.html$ $1.php [L]
RewriteRule ^([A-Za-z0-9-]+)/?$ $1.php [L]
